<html>
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script>
        if (!localStorage.getItem('login')) {
            window.location = "/";
        }
        document.addEventListener('DOMContentLoaded', () => {
            // update display name label
            document.getElementById("user_name").innerHTML = localStorage.getItem('login');
            document.getElementById("logout_button").onclick = () => {
                localStorage.setItem('login', "");
                window.location = "/";
            };
             document.getElementById("channel_list").onclick = () => {
                window.location = "/channels";
            };

            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
            socket.on('connect', () => {
                localStorage.setItem('channel', "{{ name }}");
                {#document.querySelector('#button_send').disabled = true;#}
                {#document.querySelector('#message_input').onkeyup = () => {#}
                {#    if (document.querySelector('#message_input').value.length > 0)#}
                {#        document.querySelector('#button_send').disabled = false;#}
                {#    };#}
                document.getElementById("button_send").onclick = () => {
                    let text = document.querySelector('input');
                    let time = new Date();
                    // Send message to server
                    socket.emit('add message', {
                        'user': localStorage.getItem('login'),
                        'time': time.toLocaleString('en-US'),
                        'message': text.value,
                        'channel': '{{ name }}'
                    });
                    //Clear input
                    text.value = "";
                    return false
                }
                 // When press enter- add onclick event
                document.getElementById("message_input").onkeyup = event => {
                    if (event.key === "Enter") {
                        document.getElementById("button_send").click();
                    }
                };
            })
            // When  message is announce, add the message to channel
            socket.on("announce message", data => {
                if (data["channel"] == document.URL.split("/").pop()) {
                    let message = `<article class="message"><span>${data["user"]}</span> <span>[${data["time"]}]</span><p>${data["message"]}</p></article>`;
                    document.querySelector('#messages-container').innerHTML += message;
                    return false;
                }
            })
        })
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-11">
            <h4> Hello <span id="user_name"></span></h4>
        </div>
        <div class="col-md-1">
            <button id="logout_button" class="btn btn-primary">Log Out</button>
        </div>
    </div>
        <button id="channel_list" class="btn btn-primary">All channels</button>
    <div id="current_channel" >
        <h3>Channel: <span id="channel_color"> {{ name }}</span></h3>
    </div>
    <div id="messages-container">
        {% for message in messages %}
            <article class="message">
                <span>{{message[0]}}</span> <span>[{{message[1]}}]</span><p>{{message[2]}}</p>
            </article>
        {% endfor %}
    </div>
    <div class="send_message">
        <div class="input-group">
            <input class="form-control" id="message_input" placeholder="Enter new message..." type="text" autocomplete="off">
            <button class="btn btn-primary" id="button_send">Send</button>
        </div>
    </div>
</div>

</body>
</html>